$appBackgroundImg: url("../images/pool_purple.jpg");
$appOutlineColor: #cc99ff;
$appTextColor: black;
$appHeadlineFont: 'Passion One', cursive;
$appFontEvents: 'Noto Sans', sans-serif;
$appFontSchedule: 'Work Sans', sans-serif;
$PurpleFont: #4d0066;
$BackgroundColor: #f2e6ff;
$FontOrange:#e65c00;
$ParagraphFonts: #cc5200;


p {
  color: $ParagraphFonts;
}

.mynav, .mynav:focus {
  outline: none;
  border: 0;
  background-color: #f0e6ff;
}
.mynav1, .mynav1:focus {
  outline: none;
  border: 0;
  background-color: #f0e6ff;
}
#thetitle  {
  color: $FontOrange;
  font-weight: 500;
}
.thecalendar {
  z-index: 2000;
}
footer {
  background-image: URL("../images/seigaiha.png");
  background-color: white;
  color: $appOutlineColor;
  font-size: 1vw;
  // text-shadow:
  //   -1px -1px 0 $appTextColor,
  //   1px -1px 0 $appTextColor,
  //   -1px 1px 0 $appTextColor,
  //   1px 1px 0 $appTextColor;
}
.container-fluid {
  min-height: 100vh;
}
.main {
  background-image: $appBackgroundImg;
}

.mytitle {
  font-family: $appHeadlineFont;
  font-size: 7vw;
  text-shadow:
    -1px -1px 0 $appOutlineColor,
    1px -1px 0 $appOutlineColor,
    -1px 1px 0 $appOutlineColor,
    1px 1px 0 $appOutlineColor;
}

.month {
	text-decoration: underline;
	margin-top: 1.5vw;
	padding-bottom: 0.5vw;
}
.mydecoration {
  color: $PurpleFont;
  text-shadow:
    -1px -1px 0 $appOutlineColor,
    1px -1px 0 $appOutlineColor,
    -1px 1px 0 $appOutlineColor,
    1px 1px 0 $appOutlineColor;
  text-decoration: underline;
  font-size: 5vw;
  font-family: $appHeadlineFont;
}
.mybold {
  font-weight: 750;
}
ul.a {
  list-style-type: circle;
  // list-style-image: url('../images/favorite.png');
  list-style-position: outside;
}
li.nav-item.active > button.nav-link.mynav {
  color: $FontOrange;
  font-weight: 650;
}
li.nav-item.active > button.nav-link.mynav1 {
  color: $FontOrange;
  font-weight: 650;
}
.myorangetext {
  color: $FontOrange;
}
.today {
  margin-bottom: 0.5vw;
	font-size: 2.5vw;
  font-weight: 700;
}
#welcome, #schedule, #schedule3 {
	font-size: 4vw;
	font-weight: 500;
	font-family: $appFontSchedule;
  text-shadow:
    -1px -1px 0 $appOutlineColor,
    1px -1px 0 $appOutlineColor,
    -1px 1px 0 $appOutlineColor,
    1px 1px 0 $appOutlineColor;
}
#schedule {
	margin-bottom: 1.5vw;
}
#todayschedule, #todayschedule2, #today, #today1, #upevents {
	font-size: 2.85vw;
  font-weight: 700;
	font-family: $appFontEvents;

}
.mybkgd {
  background-color: $BackgroundColor;
  opacity: 0.8;
  border-radius: 1.0vw;
  outline-style: none;
}
a.mylink {
  color: $FontOrange;
}

#mybody {
	color:white;
	background: #63508b;
	width: 60vw;
	margin: 0vw auto;
	padding: 1vw;
	border-radius: 2vw;
}
#schedule3 {
  margin-top: 0.25vw;
}

@media screen and (max-width: 415px) {
  p, li {
    font-size: 5vw;
  }
  footer {
    font-size: 4vw;
  }
	.schedule, #welcome, #schedule, #schedule3, h2.mytitle {
		font-size: 9.6vw;
		}
	#todayschedule, #todayschedule2, #today, #today1, #upevents {
		font-size: 5vw;
		}
}
@media screen and (min-width: 416px) and (max-width: 736px){
  p, li {
    font-size: 3vw;
  }
  footer {
    font-size: 2.75vw;
  }
	.schedule, #welcome, #schedule, #schedule3, h2.mytitle {
		font-size: 8vw;
		}
	#todayschedule, #todayschedule2, #today, #today1, #upevents {
		font-size: 5vw;
		}
}
