$appBackgroundImg: url("../images/pool_purple.jpg");
$appOutlineColor: #cc99ff;
$appTextColor: black;
$appHeadlineFont: 'Passion One', cursive;
$appFontEvents: 'Noto Sans', sans-serif;
$appFontSchedule: 'Work Sans', sans-serif;
$PurpleFont: #4d0066;
$BackgroundColor: #f2e6ff;


footer {
  background-image: URL("../images/seigaiha.png");
  background-color: white;
  color: $appOutlineColor;
  font-size: 1vw;
  // text-shadow:
  //   -1px -1px 0 $appTextColor,
  //   1px -1px 0 $appTextColor,
  //   -1px 1px 0 $appTextColor,
  //   1px 1px 0 $appTextColor;
}
.container-fluid {
  min-height: 100vh;
}
.main {
  background-image: $appBackgroundImg;
}

.mytitle {
  font-family: $appHeadlineFont;
  font-size: 7vw;
  text-shadow:
    -1px -1px 0 $appOutlineColor,
    1px -1px 0 $appOutlineColor,
    -1px 1px 0 $appOutlineColor,
    1px 1px 0 $appOutlineColor;
}

.month {
	text-decoration: underline;
	margin-top: 1.5vw;
	padding-bottom: 0.5vw;
}
.mydecoration {
  color: $PurpleFont;
  text-shadow:
    -1px -1px 0 $appOutlineColor,
    1px -1px 0 $appOutlineColor,
    -1px 1px 0 $appOutlineColor,
    1px 1px 0 $appOutlineColor;
  text-decoration: underline;
  font-size: 5vw;
  font-family: $appHeadlineFont;
}
#today {
  margin-bottom: 0.5vw;
	font-size: 2.5vw;
  font-weight: 700;
}
#welcome, #schedule, #schedule3 {
	font-size: 4vw;
	font-weight: 500;
	font-family: $appFontSchedule;
  text-shadow:
    -1px -1px 0 $appOutlineColor,
    1px -1px 0 $appOutlineColor,
    -1px 1px 0 $appOutlineColor,
    1px 1px 0 $appOutlineColor;
}
#schedule {

	margin-bottom: 1.5vw;
}
#todayschedule, #today, #upevents {
	font-size: 2.85vw;
  font-weight: 700;
	font-family: $appFontEvents;

}
.mybkgd {
  background-color: $BackgroundColor;
  opacity: 0.8;
  border-radius: 1.0vw;
}
#mybody {
	color:white;
	background: #63508b;
	width: 60vw;
	margin: 0vw auto;
	padding: 1vw;
	border-radius: 2vw;
}
#schedule3 {
  margin-top: 0.25vw;
}

@media screen and (max-width: 415px) {
	.schedule, #welcome, #schedule, #schedule3 {
		font-size: 6.5vw;
		}
	#todayschedule, #today, #upevents {
		font-size: 5vw;
		}
}
