button#thenavbtn.navbar-toggler, button#thenavbtn.navbar-toggler:active {
  border: none;
  outline: none;
  color: #e65c00;
  background-color: #753b97; }

.navbar {
  opacity: 0.9; }

p {
  color: #cc5200; }

.mynav, .mynav:focus {
  outline: none;
  border: 0;
  background-color: #f0e6ff; }

.mynav1, .mynav1:focus {
  outline: none;
  border: 0;
  background-color: #f0e6ff; }

#thetitle {
  color: #e65c00;
  font-weight: 500; }

.thecalendar {
  z-index: 2000; }

footer {
  background-image: URL("../images/seigaiha.png");
  background-color: white;
  color: #cc99ff;
  font-size: 1vw; }

.container-fluid {
  min-height: 100vh; }

.main {
  background-image: url("../images/pool_purple.jpg"); }

.mytitle {
  font-family: "Passion One", cursive;
  font-size: 7vw;
  text-shadow: -1px -1px 0 #cc99ff, 1px -1px 0 #cc99ff, -1px 1px 0 #cc99ff, 1px 1px 0 #cc99ff; }

.month {
  text-decoration: underline;
  margin-top: 1.5vw;
  padding-bottom: 0.5vw; }

.mydecoration {
  color: #4d0066;
  text-shadow: -1px -1px 0 #cc99ff, 1px -1px 0 #cc99ff, -1px 1px 0 #cc99ff, 1px 1px 0 #cc99ff;
  text-decoration: underline;
  font-size: 5vw;
  font-family: "Passion One", cursive; }

.mybold {
  font-weight: 750; }

ul.a {
  list-style-type: circle;
  list-style-position: outside; }

li.nav-item.active > button.nav-link.mynav {
  color: #e65c00;
  font-weight: 650; }

li.nav-item.active > button.nav-link.mynav1 {
  color: #e65c00;
  font-weight: 650; }

.myorangetext {
  color: #e65c00; }

.today {
  margin-bottom: 0.5vw;
  font-size: 2.5vw;
  font-weight: 700; }

#welcome, #schedule, #schedule3 {
  font-size: 4vw;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  text-shadow: -1px -1px 0 #cc99ff, 1px -1px 0 #cc99ff, -1px 1px 0 #cc99ff, 1px 1px 0 #cc99ff; }

#schedule {
  margin-bottom: 1.5vw; }

#todayschedule, #todayschedule2, #today, #today1, #upevents {
  font-size: 2.85vw;
  font-weight: 700;
  font-family: "Noto Sans", sans-serif; }

.mybkgd {
  background-color: #f2e6ff;
  opacity: 0.8;
  border-radius: 1.0vw;
  outline-style: none; }

a.mylink, button.mylink {
  color: #e65c00; }

#mygooglecal {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; }

#mybody {
  color: white;
  background: #63508b;
  width: 60vw;
  margin: 0vw auto;
  padding: 1vw;
  border-radius: 2vw; }

#schedule3 {
  margin-top: 0.25vw; }

footer {
  font-size: 1.5vw; }

.dropdown-item.active, .dropdown-item:active {
  background-color: #ff944d; }

@media screen and (max-width: 376px) {
  .navbar-brand {
    font-size: 0.91rem; }

  p, li {
    font-size: 5vw; }

  footer {
    font-size: 4vw; }

  .schedule, #welcome, #schedule, #schedule3, h2.mytitle, .mytitle {
    font-size: 9.6vw; }

  #todayschedule, #todayschedule2, #today, #today1, #upevents {
    font-size: 5vw; } }
@media screen and (min-width: 377px) and (max-width: 413px) {
  p, li {
    font-size: 5vw; }

  footer {
    font-size: 4vw; }

  .schedule, #welcome, #schedule, #schedule3, h2.mytitle, .mytitle {
    font-size: 9.6vw; }

  #todayschedule, #todayschedule2, #today, #today1, #upevents {
    font-size: 5vw; } }
@media screen and (min-width: 416px) and (max-width: 736px) {
  p, li {
    font-size: 3vw; }

  footer {
    font-size: 2.75vw; }

  .schedule, #welcome, #schedule, #schedule3, h2.mytitle, .mytitle {
    font-size: 8vw; }

  #todayschedule, #todayschedule2, #today, #today1, #upevents {
    font-size: 5vw; } }

/*# sourceMappingURL=output.css.map */
